.container {
  // margin-left: auto;
  // margin-right: auto;
  padding: 10px 10px;

  display: flex;
  justify-content: space-between;
}

.header {
  position: sticky;
  background-color: #b1b1b1;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.online {
  composes: icon;
  background-color: green;
}

.offline {
  composes: icon;
  background-color: red;
}

.button {
  width: 60px;
  border-radius: 10px;

  border-color: transparent;
}

.name {
  margin-left: 10px;
}

.user {
  display: flex;
  justify-content: space-between;
}
