.messageList {
  min-height: calc(100vh - 190px);
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 200px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 15px;
  & + .Item {
    margin-top: 5px;
  }
}
.userName {
  padding-right: auto;
  color: #ffffff;
}
.userMessage {
  margin-left: auto;
  margin-bottom: 10px;
}
.menu {
  position: absolute;
  top: 0;
  left: 10px;
  transform: rotate(90deg);
  height: 22px;
}
